body {
  background-color: #000000;
  color: #00FF00;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

body li {
  margin: 10px;
}

body a {
  color: #00FF00;
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
}
  
body a:hover{
  background-color: #00FF00;
  color: #000000;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: #00FF00;
  text-decoration: none;
  padding: 10%;
  border-radius: 25px;
}

nav a:hover{
  background-color: #00FF00;
  color: #000000;
}

nav p {
  font-size: 15px;
}
 
nav h1 {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }
}

md-block code {
  color: #FFFFFF;
}

md-block blockquote {
  color: #FF4500
}

md-block img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#larger-margins {
  margin: 2% 15% 5% 15%;
}

.green-border{
  border-style: solid;
  border-color: #00FF00;
  border-width: 5px;
  border-radius: 15px;
  margin: 2% 5% 5% 5%;
  padding: 5%;
}

.green-border h2 {
  text-align: center;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}
  